header {
    display: flex;
    background-color: white;
    margin: auto;
    height: 125px;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: solid 1px white;
    text-align: center;
}

h1 {
    color: #2d2d2d;
    margin: auto;
    font-size: 95px;
    font-family: 'Cabin', sans-serif;
}

h2 {
    margin-top: 500px;
    color:red;
}

nav {
    display: flex; 
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0; 
    top: 125px;  
    background-color: #2d2d2d;
    border-top: 5px solid white;
}

.links {
    border-left: solid 2px white;
    border-right: solid 2px white;
    border-bottom: solid 2px white;
}

button,
button:focus,
button:active{
	border:1px solid white;
	background:none;
	outline:none;
	padding:0;
}

button span{
	position: relative;
}

.navButtons {
    width: 200px;
    height: 50px;
    background-color: #2d2d2d;
    color: white;
    font-size: 20px;
    font-family: 'Old Standard TT', serif;
    font-style: italic;
}

.navButtons:hover {
    background-color: white;
    color: #2d2d2d;
    cursor: pointer;
}

#title:hover {
    cursor: pointer;
}

.Logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    border-radius: 50%;
}

body {
    background-color: #2d2d2d;
}

#emailCapture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 300px;
    background:#999997;
    width:500px;padding:10px;
    text-align:center; 
    font-family:Verdana,Arial,sans-serif; 
    border:1px solid black;
}

#emailAddress {
    border:1px solid gray;
    padding:5px;
}

#btnSubmit {
    padding:5px;
}

#mission {
    text-align: center;
    color:white;
    margin-top: 250px;
    font-size: 70px;
}

#program {
    text-align: center;
    color:white;
    margin-top: 250px;
    font-size: 70px;
}

#meetStaff {
    text-align: center;
    color:white;
    margin-top: 250px;
    font-size: 70px;
}

#calendar {
    text-align: center;
    color:white;
    margin-top: 250px;
    font-size: 70px;
}

/*New Email Subscribe*/

form {
    width: 380px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  }
  
  .group { 
    position: relative; 
    margin-bottom: 45px; 
  }
  
  input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #fafafa;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
  }
  
  input:focus { outline: none; }
  
  
  /* Label */
  
  label {
    color: #999; 
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: -15px;
    transition: all 0.2s ease;
  }
  
  
  /* active */

  
 
  
  
  /* Button */
  
  .button {
    position: relative;
    display: inline-block;
    padding: 12px 24px;
    margin: .3em 0 1em 0;
    width: 100%;
    vertical-align: middle;
    color: #004345;
    font-size: 16px;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    letter-spacing: 1px;
    background: transparent;
    border: 2px solid #004345;
    border-bottom: 2px solid #004345;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.15s ease;
  }
  .button:focus { outline: 0; }
  
  
  /* Button modifiers */
  
  .buttonBlue {
    background: white;
    text-shadow: 1px 1px 0 rgba(39, 110, 204, .5);
  }
  
  .buttonBlue:hover { background: #004345;
  color: #fff;}

 
  hgroup { 
    text-align:center;
    margin-top: 4em;
    color: #004300;
    font-weight: 300; 
  }
  
  #succ {
    display: none;
    background-color: #dff0d8;
    border: 2px solid #dff0d8;
    border-radius: 5px;  
    height:40px;
    text-align:left;
    top:25%;
    position: relative;
    color: #3c763d;
    margin-left:15px;
  }
  #txt{
    margin-left:15px;
    margin-top:0%;
    
  }
  #fail {
    display: none;
    background-color: #ff9999;
    border: 2px solid #ff9999;
    border-radius: 5px;  
    height:40px;
    text-align:left;
    top:50%;
    position: relative;
    color: #9F0303;
    margin-left:15px;
  }
  
  
  

